.grid-container {
  display: grid;
  grid-template-rows: auto auto auto; /* Three rows */
  grid-gap: 10px; /* Gap between grid items */
  width: 100%;
  color: #093f6b;
}

.grid-item {
  border: 1px solid #ccc;
  text-align: center;
}

/* First row */
.first-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.first-column {
  width: 60%;
  margin: 0% 0.5%;
}

.second-column,
.third-column {
  width: 15%;
  border-radius: 10px;
}

.grid-container-new {
  display: flex;
  justify-content: center; /* Center the grid horizontally */
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-gap: 10px; /* Gap between grid items */
}

.grid-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px; /* Add padding for spacing */
}

.bottom-right-border {
  border-radius: 30px;
}

.top-card-text {
  font-weight: bold;
  color: #093f6b;
}

.bottom-row-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5% 0% 0% 0%;
}

.bottom-card-text {
  margin: 0% 10%;
  font-size: larger;
  font-weight: bold;
  color: #093f6b;
}
