.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
}

.first-column {
  display: flex;
  flex-direction: column;

  padding: 5%;
}

.full-width-box {
  width: 100%; /* Cover full width of the first column */
  padding: 10px;
  margin: 1%;

  border: 1px solid rgb(236, 223, 223);
}

.second-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns in the second column */

  padding: 5%;
}

.box {
  padding: 10px;
  margin: 1%;
  text-align: center;
  border: 1px solid rgb(236, 223, 223);
}
