.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.green-header {
  background-color: #006055;
  color: white;
  padding: 2% 1%;
}

.highlighted-row {
  background-color: #E6E2D6;
  font: bold;
}
